<h1 class="mb-4">Admin Dashboard</h1>

<div class="row g-4 mb-5">
  <div class="col-md-4">
    <div class="card text-white bg-dark shadow text-center">
      <div class="card-body">
        <h2 class="fw-bold"><%= @total_products %></h2>
        <p>Products</p>
        <%= link_to "Manage", admin_products_path, class: "btn btn-outline-light btn-sm" %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card text-white bg-success shadow text-center">
      <div class="card-body">
        <h2 class="fw-bold"><%= @total_categories %></h2>
        <p>Categories</p>
        <%= link_to "Manage", admin_categories_path, class: "btn btn-outline-light btn-sm" %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card text-white bg-warning shadow text-center">
      <div class="card-body">
        <h2 class="fw-bold"><%= @total_orders %></h2>
        <p>Orders</p>
        <%= link_to "Manage", admin_orders_path, class: "btn btn-outline-dark btn-sm" %>
      </div>
    </div>
  </div>
</div>